<h1>Edit this Book</h1>
{{partial "books/form"}}

Tags:
{{#each tag in model.tags}}
  {{tag.name}}(<a href='#' {{action 'removeTag' tag}}>x</a>)
{{/each}}

<form {{action 'addNewTag' on='submit'}}>
  {{input type='text' value=newTagName}}
  <button type='submit' value='submit' {{action 'addNewTag'}}>
    add tag
  </button>
</form>

{{# each tag in allTags}}
  <a href='#' {{action 'addExistingTag' tag}}>{{tag.name}} (+)</a>
{{/each}}

